# Task 3 - Dominik WiÅ›niewski

In order to standardize the way of giving tasks, this task will also be done using jupyter nootebook, and SQL queries will be implemented using python and sqllite3. First, I going to create a database and tables and fill them with the records provided in the task content.

In [ ]:
# imports
import sqlite3

In [ ]:
# db name
database_name = r'testdb'

# rows
john_peters = (34577, 'John', 'Peters', '1993-02-15', 'Mathematics')
kate_smith = (34578, 'Kate', 'Smith', '1992-10-29', 'Economy')
class_1 = (6743, 'algebra', 4352, '2019_summer')
class_2 = (2876, 'calculus', 5325, '2019_summer')
class_3 = (3466, 'statistics', 6253, '2019_winter')
result_1 = (34577, 6743, '2019-06-19', 2)
result_2 = (34577, 2876, '2019-06-06', 3)
result_3 = (34578, 6743, '2019-06-19', 4.5)

# sql queries
sql_create_students_table = """ CREATE TABLE IF NOT EXISTS students (
                                        student_id integer PRIMARY KEY,
                                        name char(10) NOT NULL,
                                        surname char(10) NOT NULL,
                                        birght_date text NOT NULL,
                                        faculty char(20)
                                    ); """

sql_create_class_catalogue_table = """ CREATE TABLE IF NOT EXISTS class_catalogue (
                                        class_id integer PRIMARY KEY,
                                        class_name char(10) NOT NULL,
                                        professor_id integer,
                                        semester text
                                    ); """

sql_create_exam_results_table = """ CREATE TABLE IF NOT EXISTS exam_results (
                                        student_id integer,
                                        class_id integer,
                                        exam_date text,
                                        grade integer,
                                        FOREIGN KEY (student_id) REFERENCES students (student_id),
                                        FOREIGN KEY (class_id) REFERENCES class_catalogue (class_id)
                                        
                                    ); """

add_student = ''' INSERT INTO students(student_id,name,surname,birght_date,faculty)
              VALUES(?,?,?,?,?) '''

add_class = ''' INSERT INTO class_catalogue(class_id,class_name,professor_id,semester)
              VALUES(?,?,?,?) '''

add_result = ''' INSERT INTO exam_results(student_id,class_id,exam_date,grade)
              VALUES(?,?,?,?) '''


# connecting to db
conn = sqlite3.connect(database_name)

# creating db cursor
cur = conn.cursor()

#creating students table
cur.execute(sql_create_students_table)

#creating students table
cur.execute(sql_create_class_catalogue_table)

#creating students table
cur.execute(sql_create_exam_results_table)

# adding students
cur.execute(add_student, john_peters)
cur.execute(add_student, kate_smith)

# adding classes
cur.execute(add_class, class_1)
cur.execute(add_class, class_2)
cur.execute(add_class, class_3)

# adding results
cur.execute(add_result, result_1)
cur.execute(add_result, result_2)
cur.execute(add_result, result_3)

# selecting and printing tables

# students
print("Students:")
cur.execute("SELECT * FROM students")
rows = cur.fetchall()
for row in rows:
    print(row)
print("\n")

# classes
print("Classes:")
cur.execute("SELECT * FROM class_catalogue")
rows = cur.fetchall()
for row in rows:
    print(row)
print("\n")

# results
print("Exam results:")
cur.execute("SELECT * FROM exam_results")
rows = cur.fetchall()
for row in rows:
    print(row)

Everything looks like the content of the task. The purpose of this task is to list information about students who have received 4 or more from the algebra exam.

In [ ]:
four_and_above = """SELECT s.student_id, s.name, s.surname, s.faculty, r.grade, r.exam_date, c.class_name
                    FROM students s
                        INNER JOIN exam_results r on s.student_id = r.student_id
                        INNER JOIN class_catalogue c on r.class_id = c.class_id
                    WHERE c.class_name = 'algebra' AND r.grade >= 4"""

cur.execute(four_and_above)
rows = cur.fetchall()
for row in rows:
    print(row)

In the SQL query above, I join 3 tables from which I draw information about students, their grades from exams and classes. Then I limit the search to algebra class and then to grade 4 and above.