# Task 2 - Dominik Wi≈õniewski

The task is to build a binary classifier to classify sentences into sarcastic or not.

In [13]:
# imports
import pandas as pd
import json

In [14]:
# data = {}

# with open(r'Graduate - HEADLINES dataset (2019-06).json') as json_data:
#     lines = []
    
#     for line in json_data:
#         line_dict = json.loads(line)
#         lines.append(line_dict)
    
#     data['Lines'] = lines

# print(data)
dataset = pd.read_json(r'Graduate - HEADLINES dataset (2019-06).json', lines = True)

In [15]:
dataset.head()

                                            headline  is_sarcastic
0  former versace store clerk sues over secret 'b...             0
1  the 'roseanne' revival catches up to our thorn...             0
2  mom starting to fear son's web series closest ...             1
3  boehner just wants wife to listen, not come up...             1
4  j.k. rowling wishes snape happy birthday in th...             0